.badge{
    background-color: red;
    position: absolute;
    top: 1rem;
    right: 0.25rem;
    font-size: 15px;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.cartIcon {
    position: relative;
}