.product__container {
    display: flex;
}

.imgProd {
    margin-left: 3rem;
    padding: 2rem;
    max-width: 20%;
    max-height: 60vh;
}

img {
    height: 100%;
    width: auto;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product__description{
    padding-top: 1rem;
    padding-right: 3rem;
    text-align: justify;
}

.product__price{
    font-size: 35px;
    padding-top: 1rem;
    text-align: justify;
}

.product__stock{
    padding-top: 1rem;
    text-align: justify;
}

.buttons__container{
    display: flex;
    justify-content: end;
}

.qty__button{
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 20px;
    background-color: rgb(211, 217, 221);
}

.qty__button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: slateblue;
}

.add__button{
    cursor: pointer;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 20px;
    background-color: rgb(211, 217, 221);
}

.add__button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: slateblue;
}

.cantidad {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
}

.checkout__button{
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 20px;
    margin-right: 10rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: slateblue;

}

.checkout__button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .checkout__button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .checkout__button:hover span {
    padding-right: 25px;
  }
  
  .checkout__button:hover span:after {
    opacity: 1;
    right: 0;
  }